#root {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

.labelLayout {
    padding-block-end: 2rem;
    padding-block-start: 1rem;
}

.input {
    padding-inline-start: 12px;
    padding-block-end: 18px;
    padding-block-start: 18px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: max-content;
    cursor: text;
}

.input--1 {
    padding-inline-start: 12px;
    padding-block-end: 18px;
    padding-block-start: 18px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: max-content;
}

.input--1:hover {
    border: 1px solid #333333;
}

.input--1:focus {
    border: 1px solid #2962FF;
}

.input--error {
    border: 1px solid #D32F2F;
    cursor: text;
}

.input--error:hover {
    border: 1px solid #333333;
}

.input--error:focus {
    border: 1px solid #D32F2F;
}

.input--disabled {
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    cursor: default;
}

.input--someInterestingText {
    border: 1px solid #828282;
}

.input--someInterestingTextError {
    border: 1px solid #D32F2F;
}

.input--startIcon {
    border: 1px solid #828282;
}

.input--endIcon {
    border: 1px solid #828282;
}

.input--text {
    border: 1px solid #828282;
}

.input--md {
    border: 1px solid #828282;
}

.input--sm {
    padding-block-end: 10px;
    padding-block-start: 10px;
}

.input--fullWidth {
    max-width: 100%;   
}

.input--row {
    padding-block-end: 112px;
    padding-block-start: 18px;
    padding-inline-start: 12px;
}

.error-color {
    border: 1px solid #D32F2F;
}

.default-color {
    border: 1px solid #828282;
}

